<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>艾德·史塔克</string>
		<key>imageName</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>凯瑟琳·徒利·史塔克</string>
		<key>imageName</key>
		<string>2.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>罗柏·史塔克</string>
		<key>imageName</key>
		<string>3.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>琼恩·雪诺</string>
		<key>imageName</key>
		<string>4.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>艾莉亚·史塔克</string>
		<key>imageName</key>
		<string>5.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>珊莎·史塔克</string>
		<key>imageName</key>
		<string>6.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>布兰·史塔克</string>
		<key>imageName</key>
		<string>7.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>瑟曦·兰尼斯特·拜拉席恩</string>
		<key>imageName</key>
		<string>8.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>提利昂·兰尼斯特</string>
		<key>imageName</key>
		<string>9.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>泰温·兰尼斯特</string>
		<key>imageName</key>
		<string>10.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>詹姆·兰尼斯特</string>
		<key>imageName</key>
		<string>11.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>乔佛里·拜拉席恩</string>
		<key>imageName</key>
		<string>12.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>丹尼莉丝·坦格利安</string>
		<key>imageName</key>
		<string>13.png</string>
	</dict>
</array>
</plist>
